mixin expandable-checkbox-list(name,...values)
    - var className
    if attributes.class
        - className = attributes.class
    else
        - className = 'expandable-checkbox-list'
    div(class=className)
        label.label(class=className + '__label').activ=name
        div(class=className + '__expanded')
            - var count = 1;
            each value in values
                input(type="checkbox" id=className + count name=className + count value=count class=className + '__checkbox').checkbox
                label(for=className + count).checkbox__text= value
                - count++