//-


mixin date(options)
    if !options
        - options = {}

    - var dateFormat = options.dateFormat || 'dd.mm.yyyy';

    input.date(
        type="text",
        name= options.name
        placeholder=options.placeholder
        data-autocomplete="off"
        data-date-format=dateFormat
        readonly
    )