//-
    options.name - имя поля (можно задать двум компонентам одинаковые имена тогда первая дата будет в первом элемент вторая во втором)
    options.placeholder - выводит подсказывающий текст
    options.dateFormat - Желаемый формат даты, кобминация из d, m, yyyy, D, M, и т.д. По умолчанию берется из локализации,
        если передать значение сюда, то оно будет иметь больший приоритет.

        @- время в миллесекундах
        d- дата
        dd- дата с лидирующем нулем
        D- сокращенное наименование дня
        DD- полное наименование дня
        m- номер мясяца
        mm- номер месяца с лидирующем нулем
        M- сокращенное наименовение месяца
        MM- полное наименовение месяца
        yy- сокращенный номер года
        yyyy- полный номер года
        yyyy1- первый год декады, в которую входит текущий год
        yyyy2- последний год декады, в которую входит текущий год

mixin date(options)
    if !options
        - options = {}

    - var dateFormat = options.dateFormat || 'dd.mm.yyyy';

    input.date(
        type="text",
        name= options.name
        placeholder=options.placeholder
        data-autocomplete="off"
        data-date-format=dateFormat
        readonly
    )