include ../input/input

//-
  options.items - массив с элементами меню
  options.items[0].name - имя элемента меню
  options.items[0].href - ссылка элемента меню

mixin footer(options)
  if !options
    - options = {}
  if !options.items
    - options.items = []

  .footer
      if (options.blocks)
          .footer__container
              .footer__top
                  .footer__top-item.footer__logo
                      img(alt="logo" src=options.logo)
                      .footer__subtext
                          p=options.slogan
                  if (options.blocks)
                      each block in options.blocks
                        .footer__top-item
                            h3=block.title
                            .footer__nav
                                each item in block.items
                                    a.footer__nav-item(href = item.href)= item.name
                  .footer__top-item.footer__subscribe
                      h3.header_level-3=options.subscribe.title
                      p.footer__subscribe-text=options.subscribe.text
                      +input({
                          type: 'email',
                          placeholder: 'You email address',
                          enableArrowBtn: true
                      })
          .footer_border-top
              .footer__copyright.footer__container
                  span.footer__text!=options.copyright
                  .social.footer__social
                      a(href="link-for-twitter").social__icon.social__twitter-icon
                          include ./img/twitter-icon.svg
                      a(href="link-for-facebook").social__icon.social__facebook-icon
                          include ./img/facebook-icon.svg
                      a(href="link-for-instagram").social__icon.social__inst-icon
                          include ./img/inst-icon.svg
      else
          .footer__container.footer_center
              .footer__logo
                  img(alt="logo" src=options.logo)
                  .footer__subtext
                      p=options.slogan
              .social.footer__social.footer__social_margin-top
                  a(href="link-for-twitter").social__icon.social__twitter-icon
                      include ./img/twitter-icon.svg
                  a(href="link-for-facebook").social__icon.social__facebook-icon
                      include ./img/facebook-icon.svg
                  a(href="link-for-instagram").social__icon.social__inst-icon
                      include ./img/inst-icon.svg
